@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-3">
            User..........<input type="text" id="userInput"/>
            <br/>
            Message...<input type="text" id="messageInput"/>
            Group.......<input type="text" id="messageGroupInput"/>
            <input type="button" id="sendButton" value="Send Message"/>
            <input type="button" id="sendToGroupButton" value="Send Message to group"/>
            <input type="button" id="sendToAssassinsGroupButton" value="Send Message to assassins"/>
        </div>
        <div class="col-3">
            User..........<input type="text" id="userInput2"/>
            <br/>
            Group.......<input type="text" id="createGroupInput"/>
            <input type="button" id="groupButton" value="Create Group"/>
        </div>
        <div class="col-3">
            User..........<input type="text" id="userInput3"/>
            <br/>
            Group.......<input type="text" id="joinGroupInput"/>
            <input type="button" id="joinGroupButton" value="Join Group"/>
        </div>
        <div class="col-3">
            User..........<input type="text" id="userInput4"/>
            <br/>
            Group.......<input type="text" id="leaveGroupInput"/>
            <input type="button" id="leaveGroupButton" value="Leave Group"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
        <div class="col-6" id="groups">
            <ul id="groupsList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>